<style>
    .Choice {
    background-color: DodgerBlue;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 15px;
    height: 100px;
    width: 30%;
}
</style>
{%extends 'main.html'%}

{%block content%}

<h1>Welcome to our Ride-Sharing Service System!</h1>

  <p>
     Welcome {{request.user}}!
  </p>
  <a href="{% url 'profile' %}">Profile</a>
  <p>
     What do you want we do for you?
  </p>
    <div class="Choice">
        <a href="{% url 'Owner' %}">Request an Ride</a>
    </div>

    <div class="Choice">
        <a href="{% url 'Sharer' %}">Search for share</a>
    </div>

    <div class="Choice">
        <a href="{% url 'OwnerListView' %}">As a passenger: Order History</a>
    </div>
{% if identity != 'driver' %}
    <div class="Choice">
        <a href="{% url 'DriverRegister' %}">To be a Driver?</a>
    </div>
{% endif %}
{% if identity == 'driver' %}
    <div class="Choice">
        <a href="{% url 'DriverSearchListView' %}">Search for orders</a>

    </div>
    <div class="Choice">

        <a href="{% url 'DriverProcessingListView' %}">See your ongoing order</a>
    </div>
{% endif %}
{%endblock%}
