<style>
    h1 { color: #b48608; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center; }
</style>
<!-- <nav class="navbar bg-dark" data-bs-theme="dark">
    <a href="/">
        <h1>RSSS</h1>
    </a>
    {% if request.user.is_authenticated %}
    <p>Hello <a href="{% url 'UserHome' %}">{{request.user}}</a></p>
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a href="{%url 'login'%}">Log in</a>
    {% endif %}    
</nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Riding Sharing Service System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'UserHome' %}">Hello, {{request.user}} (Back to Home Page)</a>
          </li>
                <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}">Log in</a>
          </li>
          {% endif %}  

        </ul>
      </div>
    </div>
  </nav>
&nbsp;
&nbsp;
&nbsp;
