{%extends 'main.html'%}

{%block content%}
<div>
    <form action="POST" action="">
        {%csrf_token%}
        <label>Name:</label>
        <input type="text" name="drivername"/>
        <label>Vehicle type:</label>
            <select>
                <option>SUV</option>
                <option>Sports Car</option>
                <option>Sedan</option>
                <option>Coupe</option>
            </select>
        <label>License plate number:</label>
        <input type="text" name="LicensePlateNumber">
        <label>Vehicle capacity</label>
        <input type="text" name="vehicleCapacity">
        <label>Special Information</label>
        <input type="text" name="specialCarInfo">
        <input type="submit" value="Confirm">
    </form>
</div>

{%endblock%}