<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>

{%extends 'main.html'%}
{% load mathfilters %}
{%block content%}
<br>
    <p>
        Here are the possible orders you are working on now.
    </p>
<br>

<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Complete</th>
        <th>Ride Owner</th>
        <th>Destination Address</th>
        <th>Arrival Date Time</th>
        <th>Number of Passenger</th>
        <th>Vehicle Type</th>
        <th>Special Request</th>
        <th>Share Or Not</th>
        <th>Sharers' Name</th>
        <th>Max Sharer Number</th>
    </tr>
    </thead>
    <tbody>
    {% for ride in object_list %}
    <tr>
        <td><a href="{% url 'DriverComplete' ride.id %}">Complete</a></td>
        <td>{{ ride.owner.username }}</td>
        <td>{{ ride.Destination_Address }}</td>
        <td>{{ ride.Arrival_Date_Time|date:"m/d/Y P" }}</td>
        <td>{{ ride.Number_of_Passenger }}</td>
        <td>{{ ride.Vehicle_Type }}</td>
        <td>{{ ride.Special_Request }}</td>
        <td>{{ ride.Share_Or_Not }}</td>
        <td>{{ ride.Sharers_Name }}</td>
        <td>{{ ride.Max_Share_Num }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
